<% include ./partials/header %>

	<link rel='stylesheet' href='/stylesheets/aboutMe.css'>

	<!-- AboutIntro --> 
   	<div id="particles-js"></div> 

  	<section class="container thaoPicSection">

		<div class='row'>
			<div class='col-md-2  text-center'></div>
			<div class='col-md-10  text-center d-none d-md-inline'>	
			<div class='container animated slideInLeft'>
				<p class="speechBubble">I am not perfect BUT I never stop improvising to become a better version of me!</p>
			</div>
		</div>	
  	
  		<div class='row container align-items-center'>

			<div class='col-3 text-center d-none d-md-inline'>
				<div class='py-1'>
					<a href="#theCoder" class="bttn">The dancer</a>
				</div>
				<div class='py-2'>
					<a href="#theAchiever" class="bttn">The achiever</a>
				</div>
			</div>

			<div class='col-sm-12 col-md-6 text-center'>
				<img src="/images/thao.png" class= 'img-fluidCus' alt="Thao's photo">
			</div>

			<div class='col-3 text-center d-none d-md-inline'>
				<div class='py-1'>
					<a href="#theAdapter" class="bttn">The adapter</a>
				</div>
				<div class='py-2'>
					<a href="#theLearner" class="bttn">The learner</a>
				</div>
			</div>

		</div>	

   	</section>



   	<!-- About Detail--> 
   	<section class="container-fluid px-0 my-5 content" id="theAdapter">
        <div class="row align-items-center">
        
			<div class="col-md-6 text-center"> 
				<div class="row justify-content-center mb-5 mb-md-0">
					<div class="col-10 blurb">
						<h2>The ADAPTER</h2>
							<p class="lead">I adapt well to new changes. Many people see changes as obstacles. I, on the other hand, see them as opportunities that can help me grow. So I embrace them. When I was 15, I decided to leave behind my comfort zone, my sweet homecountry - Vietnam, and to take an adventure to broaden my perspectives in the U.S. It was not easy at first but I managed to adapt to new lifestyles in just about 4 months. 
							<br></br>
							In addition to the ability to adapt to new environments, I process and apply new skills and concepts quickly and efficiently. Originally, I was a business student with no programming background. My passion for coding started in 2016. To leverage my understanding fast, I utilized all resources from the university and online sources. In just 3 years, I have created many good side projects while maintaining a good G.P.A of 3.9.
							
							<br></br>
							The software development field is such a rapidly changing environment, my ability to quickly embrace new ideas and adapt is crucial, which makes me a good candidate for any team. 
							</p>
					</div>
				</div>
 			</div>
 			
 			<div class="img col-md-6 p-0"> 
				<img class="img-fluid" src="images/theAdapter.jpg">
			</div>	
			
   		</div>
   	</section>
   	
   	<section class="container-fluid px-0 my-5 content" id="theAchiever">
        <div class="row align-items-center">
        
			<div class="col-md-6 order-2 order-md-1"> 
				<img class="img-fluid" src="images/theAchiever.jpg">
			</div>
			
			<div class="col-md-6 text-center order-1 order-md-2"> 
				<div class="row justify-content-center mb-5 mb-md-0">
					<div class="col-10 blurb">
						<h2>The ACHIEVER</h2>
						<p class="lead">The biggest achievement in my life is to continuously surpass my current self. Usually, people want to achieve the big next goal because they want to seek validation from others, which is a good thing. I am, too, a highly competitive person. But the more crucial part, in my perspective, lies in the ability to see myself as a real competitor. This way, I can always strive to become better and never stop learning. 
							<br></br>
						Additionally, I believe "myself" is by far the most qualified competitor and here is why. Just like the Big(O) notation, it is unfair to decide which programs are better based on the time taken to run each program. One runs faster than the other is caused by various factors, such as operating systems, hardware, or networks. Thus, people use Big(O) instead because its judgment is based on the same factor. Similarly, it is unfair to compare people's abilities based solely on results. Everyone has different timelines; I believe the truth scale of achievement comes from how well one has overcome oneself.
						 </p> 
					</div>
				</div>
 			</div>
 			
   		</div>
   	</section>
   	
   	<section class="container-fluid px-0 mt-0 mb-5 content" id="theLearner">
        <div class="row align-items-center">
			<div class="col-md-6 text-center"> 
				<div class="row justify-content-center mb-5 mb-md-0">
					<div class="col-10 blurb">
						<h2>The LEARNER</h2>
						<p class="lead">From my experience, there are 2 ways to learn new thing: (1) I learn by studying, simply because I need to understand the materials for short-term purposes, such as passing the SAT exam. (2) I learn because I like the subject and know this type of material will serve me in the long-run.
							<br></br>
						Both learning experiences prepared me well to become a good learner. There are things I have fun learning such as coding and dancing; this part is easy. The harder part is mastering the material that I dislike. In such cases, I train my mindset to see the subject as a fun challenge. That is how I earn good grades for all subjects and good results for numerous projects. By creating a short-term motive, I can enhance my learning experience and provide the best possible outcome.  
						</p>
					</div>
				</div>
 			</div>
 			
 			<div class="col-md-6 p-0"> 
 				<img class="img-fluid" src="images/theLearner.jpg">	
			</div>	
   		</div>
   	</section>
   	
   	<section class="container-fluid px-0 my-5 content" id="theCoder">
        <div class="row align-items-center">
        
			<div class="col-md-6 order-2 order-md-1 p-0"> 
				<img class="img-fluid" src="images/theDancer.jpg">
			</div>
			
			<div class="col-md-6 text-center order-1 order-md-2 mb-5 mb-md-0"> 
				<div class="row justify-content-center">
					<div class="col-10 blurb">
						<h2>The Dancer</h2>
						<p class="lead">A programmer life is not all about coding. I also enjoy dancing with my dance crew - The Aura. I am the current team captain of the crew. We has performed many K-pop, US/UK and Vietnamese traditional songs. Here is the <a href="https://www.facebook.com/pg/The.AURA.Crew/videos/?ref=page_internal">link</a> to our performances in case you are interested. </p>
						
					</div>
				</div>
 			</div>
 			
   		</div>
   	</section>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
   <script type="text/javascript" src="/supportingScripts/particlesAnimation.js"></script>
  
<% include ./partials/footer %>





