<% include ./partials/header %>

	<link rel='stylesheet' href='/stylesheets/aboutMe.css'>

	<!-- AboutIntro --> 
   	<div id="particles-js"></div> 

  	<section class="container thaoPicSection">

		<div class='row'>
			<div class='col-md-2  text-center'></div>
			<div class='col-md-10  text-center d-none d-md-inline'>	
			<div class='container animated slideInLeft'>
				<p class="speechBubble">I am not perfect BUT I never stop improvising to become a better version of me!</p>
			</div>
		</div>	
  	
  		<div class='row container align-items-center'>

			<div class='col-3 text-center d-none d-md-inline'>
				<div class='py-1'>
					<a href="#theCoder" class="bttn">The coder</a>
				</div>
				<div class='py-2'>
					<a href="#theAchiever" class="bttn">The achiever</a>
				</div>
			</div>

			<div class='col-sm-12 col-md-6 text-center'>
				<img src="/images/thao.png" class= 'img-fluidCus' alt="Thao's photo">
			</div>

			<div class='col-3 text-center d-none d-md-inline'>
				<div class='py-1'>
					<a href="#theAdapter" class="bttn">The adapter</a>
				</div>
				<div class='py-2'>
					<a href="#theLearner" class="bttn">The learner</a>
				</div>
			</div>

		</div>	

   	</section>



   	<!-- About Detail--> 
  	<section class="container-fluid px-0 mt-0 mb-5 content" id="theCoder">
        <div class="row align-items-center">
			<div class="col-md-6 text-center"> 
				<div class="row justify-content-center mb-5 mb-md-0">
					<div class="col-10 col-lg-8 blurb">
						<h2>The CODER</h2>
						<p class="lead">Non legam veniam quo commodo in ullamco eram proident est summis offendit 
						possumus ab eu si familiaritatem. Ita an summis summis eram, et fugiat irure 
						noster ullamco, varias deserunt quamquam, incididunt elit occaecat. Ubi elit 
						velit varias laboris</p>
					</div>
				</div>
 			</div>
 			
 			<div class="col-md-6"> 
				<img class="img-fluid" src="images/theCoder.png">
			</div>	
			
   		</div>
   	</section>
   	
   	<section class="container-fluid px-0 my-5 content" id="theAchiever">
        <div class="row align-items-center">
        
			<div class="col-md-6 order-2 order-md-1"> 
				<img class="img-fluid" src="images/theAchiever.jpg">
			</div>
			
			<div class="col-md-6 text-center order-1 order-md-2"> 
				<div class="row justify-content-center mb-5 mb-md-0">
					<div class="col-10 col-lg-8 blurb">
						<h2>The ACHIEVER</h2>
						<p class="lead">Non legam veniam quo commodo in ullamco eram proident est summis offendit 
						possumus ab eu si familiaritatem. Ita an summis summis eram, et fugiat irure 
						noster ullamco, varias deserunt quamquam, incididunt elit occaecat. Ubi elit 
						velit varias laboris id nam nisi quis iis cupidatat.
						noster ullamco, varias deserunt quamquam, incididunt elit .</p>
					</div>
				</div>
 			</div>
 			
   		</div>
   	</section>
   	
   	<section class="container-fluid px-0 my-5 content" id="theAdapter">
        <div class="row align-items-center">
        
			<div class="col-md-6 text-center"> 
				<div class="row justify-content-center mb-5 mb-md-0">
					<div class="col-10 col-lg-8 blurb">
						<h2>The ADAPTER</h2>
						<p class="lead">Non legam veniam quo commodo in ullamco eram proident est summis offendit 
						possumus ab eu si familiaritatem. Ita an summis summis eram, et fugiat irure 
						noster ullamco, varias deserunt quamquam, incididunt elit occaecat. Ubi elit 
						velit varias laboris id nam nisi quis iis cupidatat.
						velit varias laboris id nam nisi quis iis cupidatat.</p>
					</div>
				</div>
 			</div>
 			
 			<div class="col-md-6"> 
				<img class="img-fluid" src="images/theAdapter.jpg">
			</div>	
			
   		</div>
   	</section>
   	
   	<section class="container-fluid px-0 my-5 content" id="theLearner">
        <div class="row align-items-center">
        
			<div class="col-md-6 order-2 order-md-1"> 
				<img class="img-fluid" src="images/theLearner.jpg">
			</div>
			
			<div class="col-md-6 text-center order-1 order-md-2 mb-5 mb-md-0"> 
				<div class="row justify-content-center">
					<div class="col-10 col-lg-8 blurb">
						<h2>The LEARNER</h2>
						<p class="lead">Non legam veniam quo commodo in ullamco eram proident est summis offendit 
						possumus ab eu si familiaritatem. Ita an summis summis eram, et fugiat irure 
						noster ullamco, varias deserunt quamquam, incididunt elit m, incididunt elit occaecat. Ubi elit 
						velit varias laboris id nam nisi quis iis cupidatat.</p>
					</div>
				</div>
 			</div>
 			
   		</div>
   	</section>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
   <script type="text/javascript" src="/supportingScripts/particlesAnimation.js"></script>
  
<% include ./partials/footer %>





