<% include ./partials/header %>

	<link rel='stylesheet' href='/stylesheets/contact.css'>

   <div id="particles-js"></div> 
	 <section class="container contactIconSection">	 
      <div class='row justify-content-center'>

  			 <div class="col-sm-6 col-lg-3">
  				<a href="https://github.com/tphuong141607" target="_blank"><i class="fab fa-github-square icon iconEffect"></i></a>
			  </div>
 			
   			<div class="col-sm-6 col-lg-3">
    				<a href="https://www.linkedin.com/in/thaophuong/" target="_blank"><i class="fab fa-linkedin icon iconEffect"></i></a>
  			</div>
 			
  			<div class="col-sm-6 col-lg-3">	
  				<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=tphuong141607@gmail.com" target="_blank"><i class="fas fa-envelope icon iconEffect"></i></a>	
			 </div>

  			<div class="col-sm-6 col-lg-3">
    			<a href="https://www.facebook.com/thaophuong1407" target="_blank"><i class="fab fa-facebook-square icon iconEffect"></i></a>		
  			</div>

  		</div> 			
   	</section>
   	
       <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
  <script type="text/javascript" src="/supportingScripts/particlesAnimation.js"></script>
  
<% include ./partials/footer %>
