<% include ./partials/header %>

  <link rel='stylesheet' href='/stylesheets/landing.css'>

  <!-- SCAMBLETEXT SECTION -->
   <div id="particles-js"></div> 
    <section class="container scambleText px-0">	
  		<div class='row'>
  			<div class='introTextDiv col text-center'>
          <div id='audioIcon'>
            <h1 class="text-center intro1 mr-1"></h1> 
            <button class="btn" onclick="play()"><i class="fas fa-volume-up"></i></button>
          </div>
  				<h2 class="text-center intro2"></h2>

  			</div>
  		</div>

    	<div class='row'>	
  			<div class="col-md-12 text-center">
    				<a href="/aboutMe" class="bttn">Who Am I</a>
    				<a href="#" class="bttn">My Works</a>
  			</div>
    	</div> 			
   	</section>

   <audio id="thaophuong" src="audio/thaophuong.m4a"></audio>	


  <script type="text/javascript" src="/supportingScripts/textScamble.js"></script>
  <script type="text/javascript" src="/supportingScripts/audioPlay.js"></script>
<% include ./partials/footer %>